<div class="m-title">
  <div class="banner-container">
    <div class="banner banner-x">
      <div class="tag tag-x">Yahoo</div>
    </div>
    <div class="banner banner-vs">
      <div class="tag tag-vs">vs</div>
    </div>
    <div class="banner banner-y">
      <div class="tag tag-y">Google</div>
    </div>
  </div>
</div>
<div class="m-images">
  <div class="image-x"></div>
  <div class="image-y"></div>
</div>

<section id="react-app">{{{ markup }}}</section>
<script id="initial-state" type="application/json">{{{state}}}</script>

<script src="js/bundle.js"></script>